.main {
    
}

//headings

h2 {
    text-align: center;
    font-size: 20px;
    color: $mainColor;
    letter-spacing: 0.5mm;
    font-weight: bold;
    margin-bottom: 5px;
}

// buttons

button {
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    outline: none;
    color: white;
    margin-top: 10px;
    letter-spacing: 0.5mm;
    font-weight: bold;

    &.primary {
        font-size: 16px;
        background-color: $thirdColor;
        padding: 15px 36px;
    }

    &.secondary {
        padding: 5px 12px;
        box-sizing: content-box;
        background-color: $fourthColor;
    }

    &.tertiary {
        padding: 7px;
        background-color: $fifthColor;
    }

    &:disabled {
        background-color: grey;
        cursor: auto;
    }
}

// inputs

input {
    margin-top: 5px;
    border: 1px solid #d0d7de;
    border-radius: 5px;
    line-height: 20px;
    padding: 5px 12px;

    &.primary {
        width: calc(100% - 24px);
    }
}

select {
    width: calc(100% - 24px);
    margin: 5px 0;
    border: 1px solid #d0d7de;
    border-radius: 5px;
    line-height: 20px;
    padding: 5px 12px;
    box-sizing: content-box;
}

// table-headers

.headers {
    background-color: $fifthColor;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: bold;
    height: 77px;
    color: white;

    &.app-table {
        @media (max-width: $mobileBreakpointMenu) {
            display: none;
        }
    }

}




// appointments page

.page {
    padding: 50px;
}

.top {
    display: flex;
}

.table {
    font-family: 'lato', sans-serif;

    @media (max-width: $mobileBreakpointMenu) {
        display: flex;
        flex-wrap: wrap;
    }
}
.app-table {
    margin: 20px auto;
    display: grid;
    grid-template-columns: minmax(20px, 100px) 1fr 1fr 2fr 2fr 2fr 0.5fr;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);

    @media (max-width: $mobileBreakpointMenu) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 50px);
    }

    @media (max-width: $mobileBreakpointOneB) {
        font-size: 12px;
    }

    .item {
        padding: 12px;
    
        @media (max-width: $mobileBreakpointMenu) {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            justify-items: center;
        }

        .responsive-label {
            display: none;
            
            @media (max-width: $mobileBreakpointMenu) {
                display: block;
                font-weight: bold;
                
            }
        }
    }

    .responsive-header {
        display: none;

        @media (max-width: $mobileBreakpointMenu) {
            display: flex;
            flex-direction: column;
        }
    }
}

.isPassive {
    background-color: lightgrey;
}

div.sort {
    cursor: pointer;
}


.sort-date {
    display: none;
    @media (max-width: $mobileBreakpointMenu) {
        display: block;
        margin: 15px auto;
    }
}


// create-appointment page

.app-form {
    font-family: 'lato', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    justify-items: stretch;

    @media (max-width: $mobileBreakpointMenu) {
        grid-template-columns: 1fr;
    }
    
}

.application-form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 10px 35px;
    border: 1px solid gray;
    width: 340px;

    @media (max-width: $mobileBreakpointOneB) {
        padding: 5px 15px;
        width: 280px;
    }
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: $mainColor;
}

.map {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 30px;
    .google-map {
        margin-top: 10px;
    }

    

    input[type=checkbox] {
        width: 1.125rem;
        height: 1.125rem;
        position: relative;
        background-color: hsl(196, 78%, 61%);
        border: none;
        border-radius: 4px;
        transition: .3s;
        margin-top: 10px;
        cursor: pointer;
        vertical-align: sub;
    }

    select {
        width: auto;
        margin-bottom: 10px;
    }

    .desc {
        p {
            margin-bottom: 10px;
        }
    }

}

.minor-link {
    font-size: 10px;
    text-decoration: none;
    color: $mainColor;

    i {
        margin-right: 3px;
    }
}

.error {
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

.create-button {
    width: calc(100% - 24px);
}

.mr-5 {
    margin-right: 5px;
}

.f-center {
    display: flex;
    justify-content: center;
}