#app {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.main {
    padding: 50px;
}

.all-screen {
    padding: 0px;
}

.sidebar-menu {
    height: 100vh;
    background-color: black;
    justify-self: stretch;

    .logo {
        text-align: center;
        color: white;
        padding-top: 15px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        padding: 15px;
        .menu-link {
            margin-top: 15px;
            border: 1px solid white;
            padding: 5px;
            border-radius: 5px;
            text-decoration: none;
            color: white;
        }
        .menu-link:hover {
            color: black;
            background-color: white;
        }
    }
}





