// ekran boyutları için variablar oluştur.

$mobileBreakpointOneA: 768px;
$mobileBreakpointOneB: 425px;
$mobileBreakpointMenu: 900px;

$mainColor: #265077;
$secondaryColor: #022140;
$thirdColor: #494B68;
$fourthColor: #1E4258;
$fifthColor: #2D5F5D;

